{% extends "./wrapper.html" %}{% load actionkit_tags %}
{% block content %}

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        <h2>{{ page.title }}</h2>
    </div>
</div>

{% if page.custom_fields.callpower_campaign_id %}
<script type="text/javascript">
var akRedirectUrl = '{{ page.followup.url }}';
window.CallPowerOptions = {
    form: "form.ak-form",
    phoneField: "#id_phone",
    locationField: "#id_zip",
    scriptDisplay: "overlay",
    submitDelay: 500,
    customJS: function() {
        var $modal = $('.overlay .modal');

        // Remove CallPower's script content (everything except button.close and a.closeText)
        $modal.contents().filter(function() {
            return !$(this).is('button.close, a.closeText');
        }).remove();

        // Build replacement content from ActionKit fields
        var $content = $('<div class="ak-overlay-content"></div>')
            .append('<h3>Instructions</h3>')
            .append($('#call-story').html())
            .append('<h3>Script</h3>')
            .append($('#ak-script-text').html());

        // Insert before the Completed link
        $modal.find('a.closeText').before($content);

        // Completed: stop propagation so CallPower's hide/formSubmit never fires,
        // then AJAX submit to AK and redirect. Page navigation closes the overlay.
        $modal.find('a.closeText').on('click', function(e) {
            e.stopPropagation();
            $.ajax({
                type: 'POST',
                url: '/act/',
                data: $('form.ak-form').serialize(),
                complete: function() {
                    window.location.href = akRedirectUrl;
                }
            });
        });

        // X/backdrop close: let CallPower's formSubmit + AK submit run normally
        $('.overlay').on('hide', function() {
            actionkit.form.submit();
        });
    },
    overlayCloseText: 'Completed',
};
</script>
<script type="text/javascript" src="https://callpower-dp.fftf.app/api/campaign/{{page.custom_fields.callpower_campaign_id}}/embed.js"></script>
{% endif %}

<form class="ak-form ak-styled-fields {%if not action%}incomplete{%endif%}" name="act" method="POST" action="/act/" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

    <div class="ak-grid-row">
        <div>
            <div class="ak-grid-col ak-grid-col-8-of-12">
                <div id="call-story">
                    {% autoescape off %}
                        {% include_tmpl form.introduction_text %}
                    {% endautoescape %}
                </div>
            </div>
            <div class="ak-grid-col ak-grid-col-4-of-12">

                {% if page.custom_fields.featured_image %}
                    <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
                {% endif %}

                {% include "./progress_meter.html" %}

                <div id="call-form" class="ak-field-box ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
                    <ul class="compact" id="ak-errors"></ul>
                    <h3>Make a call</h3>

                    {% if akid and page.recognize != "never" %}
                        {# Recognized user: submit their data silently, show only phone + zip to edit #}
                        <div id="known_user">
                            Not {{ user.name }}? <a href="?" onclick="return actionkit.forms.logOut()">Click here.</a>
                        </div>
                        <input type="hidden" name="name" value="{{ user.name }}">
                        <input type="hidden" name="email" value="{{ user.email }}">
                        <input type="hidden" name="address1" value="{{ user.address1 }}">
                        <input type="hidden" name="city" value="{{ user.city }}">
                        <input type="hidden" name="state" value="{{ user.state }}">
                        <input type="hidden" name="country" value="United States">
                        <div class="ak-field">
                            <label for="id_phone">Phone</label>
                            <input id="id_phone" type="tel" name="phone" value="{{ user.phone|default:'' }}">
                        </div>
                        <div class="ak-field">
                            <label for="id_zip">ZIP Code</label>
                            <input id="id_zip" type="text" name="zipcode" value="{{ user.zip }}">
                        </div>
                    {% else %}
                        {# Unrecognized user: phone is hidden by default in user_form.html, so build the form explicitly #}
                        <input type="hidden" name="country" value="United States">
                        <div class="ak-field">
                            <label for="id_name">Name</label>
                            <input id="id_name" type="text" name="name">
                        </div>
                        <div class="ak-field">
                            <label for="id_email">Email</label>
                            <input id="id_email" type="email" name="email">
                        </div>
                        <div class="ak-field">
                            <label for="id_phone">Phone</label>
                            <input id="id_phone" type="tel" name="phone">
                        </div>
                        <div class="ak-field">
                            <label for="id_zip">ZIP Code</label>
                            <input id="id_zip" type="text" name="zipcode">
                        </div>
                    {% endif %}

                    <button type="submit" class="ak-submit-button">Call Now</button>
                </div>

            </div>
        </div>
    </div>

    <div id="ak-script-text" style="display:none">
        {% autoescape off %}{% include_tmpl form.script_text %}{% endautoescape %}
    </div>
</form>

<style>
.overlay .modal {
    font-size: 1.3em;
}
.overlay button.close {
    background: transparent;
    background-image: none;
    color: #888;
    font-size: 1.75em;
    font-weight: normal;
    padding: 4px 12px;
    width: auto;
    min-width: 0;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 3px;
    outline: none;
}
.overlay button.close:hover {
    background: #666;
}
.overlay a.closeText {
    display: block;
    margin: 1em auto 0;
    text-align: center;
    background: #9f1719;
    color: #fff;
    border-radius: 0;
    transition: .2s;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #fff;
    outline: 2px solid #9f1719;
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    position: relative;
    bottom: auto;
}
.overlay a.closeText:hover {
    background: #7a1113;
    outline-color: #7a1113;
}
</style>

{% endblock %}
