{% load actionkit_tags switchcase %}
<ul class="compact" id="ak-errors"></ul>

{% comment %}
This wrapper adds conditional logic to show extra fields for recognized users when needed.
For unrecognized users, it works the same as the standard user_form_wrapper.
{% endcomment %}
{% log_context %}
<div id="known_user">
    {% if not user.phones.mobile or not user.custom_fields.sms_opt_in == "Y" %}

      {% include "./user_form.html" %}
        
    {% else %}
        Not <span id="known_user_name"></span>?  <a href="?" onclick="return actionkit.forms.logOut()">Click here.</a>
    {% endif %}
</div>

<div id="unknown_user" class="ak-user-form">
    {% include "./user_form.html" %}
</div>
